extends ../layout

block content
  h2= title
  p 
    | Are you sure you want to delete 
    em= book.title
    | ?
  a(href="/books/?page=0" class="button")="No! Take me back!"
  form(class="search-form" action="/books/" + book.id + "/delete", method="post")
    | 
    input(class="delete" type="submit", value = "Yes, I'm sure")
  