p
  label(for="title") Title:
  input(type="text", id="title", name="title", style="position:absolute; left:115px;" value=book.title)
p
  label(for="author") Author:
  input(type="text", id="author", name="author", style="position:absolute; left:115px;" value=book.author)
p
  label(for="genre") Genre:
  input(type="text", id="genre", name="genre", style="position:absolute; left:115px;" value=book.genre)
p
  label(for="year") Year:
  input(type="text", id="year", name="year", style="position:absolute; left:115px;" value=book.year)
input(type="submit" class='btn-style-main')