p
  label(for="title") Title:
  input(type="text", id="title", name="title", class="input-field" value=book.title)
p
  label(for="author") Author:
  input(type="text", id="author", name="author", class="input-field" value=book.author)
p
  label(for="genre") Genre:
  input(type="text", id="genre", name="genre", class="input-field" value=book.genre)
p
  label(for="year") Year:
  input(type="text", id="year", name="year", class="input-field" value=book.year)
input(type="submit" class='btn-style-main')